.App {
  text-align: center;
}

.list-group{
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 1149px;
  border-radius: .25rem;
  width:145px
  
}
.d-blockw-100{
  width:450px;
height: 400px;
}
h3 {
  color :blue
}
p {
  color :yellow
}
section{
font-style: normal;
  text-decoration: brown;
  background-color: rgb(28, 139, 83);
  margin-bottom: 3px;
  display:flex;
  
} 

